@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins&display=swap%27');


:root{
    --primary: #DD1964;
    --cream: #FFEDDF;
    --cool: #908FA2;
    --borderInput: #3E3F57;
    --petrol: #0B0A18;
    --green: #48b16c;
    --red: #D2200B;
    --redText: #F24646;
}

.container-cadastro-dash {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;    
    background-color:#141327;
}

.content-form-dash {
    background: #0B0A18;
    border-radius: 1em;
    padding: 1em 2em;
    width: 50vw;
    height: 550px;
   display: grid;
   grid-template-rows: 100px 400px;
}

.container-inp {
    display: grid;
    grid-template-rows: 150px 180px;
    font-family: 'nunito';
    color: var(--cream);
}


.content-inp-2 {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-gap: 10px;
}

.titulos-campos {
    font-family: 'nunito';
    color: var(--cream);
    font-size: 1em;
    margin-top: 10px;
}

.img-cadastro-dash {
    width: 50em;
}

.inp-g {
    background-color: var(--petrol);
    border: 1px solid var(--primary);
    width: 430px;
    height: 35px;
}

.inp-p {
    background-color: var(--petrol);
    border: 1px solid var(--primary);
    width: 200px;
    height: 35px;
    border-radius: 0;
}

.content-cadastro-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content-img-cadastro-dash {
    justify-content: flex-end;
}

.titulo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
    font-family: 'nunito';
    font-size: 2em;
}

@media screen and (max-width: 1050px) {
    .content-form-dash {
        background: #0B0A18;
        border-radius: 1em;
        padding-top: 50px;
        width: 50vw;
        min-height: 600px;
        display: block;
        align-items: center;
    }

    .titulo-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cream);
        font-family: 'nunito';
        font-size: 1em;
    }

    .content-inp-2 {
        display: block;
        
     }

    .container-inp {
        display: grid;
        grid-template-rows: 140px 200px 200px;
        font-family: 'nunito';
        color: var(--cream);
    }

    .container-cadastro-dash {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center; 
        background-color:#141327
    }

    .inp-g {
        background-color: var(--petrol);
        border: 1px solid var(--primary);
        width: 200px;
        height: 35px;
    }
    
}

